[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "tools/codemod"]
	path = tools/codemod
	url = git://github.com/facebook/codemod.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:phleet/oh-my-zsh.git
[submodule "matcher"]
	path = matcher
	url = https://github.com/burke/matcher.git
